body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: blue;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Comic Sans MS", cursive;
}
h2 [style*="italic"] {
    font-style: normal !important;
}

h2 {
    text-shadow: 2px 2px green;  
}
header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    text-align: center;
    border: 1px solid;
    background-color: lightblue;
    padding: 40px;
}
nav a {
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    margin-right: -5px;
    padding: 5px;
}
nav {
    border-bottom: 1px solid;
    margin-top: 10px;
    padding-bottom: 5px;
}
nav a:hover {
    background-color: lightgray;
}